# For Loops

for item in object:

    statement to do stuff

## Example 1

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# To print out the first item

In [7]:
list1[0]

1

In [10]:
list1[1]

2

In [11]:
# You can see that it is repeatitiv, the only changing thing here are the numbers
# To iterate over this...

In [12]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

## Example 2 

Print out even and odd numbers in the list

In [13]:
## To print an even number...

In [15]:
for num in list1:
    if num % 2 == 0:
        print(f"the number {num} is an even number ")
    else:
        print(f"The number {num} is an odd number ")

The number 1 is an odd number
the number 2 is an even number
The number 3 is an odd number
the number 4 is an even number
The number 5 is an odd number
the number 6 is an even number
The number 7 is an odd number
the number 8 is an even number
The number 9 is an odd number
the number 10 is an even number

## Example 3
Let's say we are asked to add all the items in the list together and display the result

In [16]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
list_sum = 0

for num in list1:
    list_sum = list_sum + num

In [18]:
print(list_sum)

55

## Example 4
Let's see how we can use loops with string

In [19]:
for letter in "This is a string":
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

## Example 5
iterate through a tuple and print out the items there

In [20]:
tup = (1, 2, 3, 4, 5)

for t in tup:
    print(t)

1
2
3
4
5

## Example 6
print out the sum of all the even numbers and the odd numbers in a list

In [21]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# Let's do it manually for the odd numbers...

In [24]:
list1[0] + list1[2] + list1[4] + list1[6] + list1[8]

25

In [25]:
# Maual sum of even numbers..

In [28]:
list1[1] + list1[3] + list1[5] + list1[7] + list1[9]

30

# Using For loops...
we need a variable that going to store the sum of the even and odd numbers.

Because we dont know the value of the sum of either the even or odd number, we equal to 0
See below...

In [30]:
Even_sum = 0
Odd_sum = 0

for num in list1:
    if num % 2 == 0:
        Even_sum += num  #same as Even_sum = Even_sum + num
else: 
    Odd_sum += num

print(f"Total even sum is: {Even_sum} ")
print(f"Total Odd sum is: {Odd_sum} ")

Total even sum is: 30
Total Odd sum is: 10

# While Loops

In [32]:
x = 0

while x < 10:
    print("x is currently: ", x)
    print("x is still less than 10, adding 1 to x")
    x += 1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [33]:
# Let's print out 5 multiplication table

In [34]:
mul = 5
start_point = 1
max_num = 12

while start_point <= max_num:
    ans = mul * start_point
    print(f"{mul} * {start_point} = {ans} ")
    start_point += 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

## Break and Continue Statement
They are used to discontinue or continue loops

In [35]:
x = 0

while x < 10:
    print("x is currently. ", x)
    print("x is less than 10, adding 1 to x")
    x += 1
    if x == 3:
        print("x ==3")
    else:
        print("Continuing...")
        continue

x is currently.  0
x is less than 10, adding 1 to x
Continuing...
x is currently.  1
x is less than 10, adding 1 to x
Continuing...
x is currently.  2
x is less than 10, adding 1 to x
x ==3
x is currently.  3
x is less than 10, adding 1 to x
Continuing...
x is currently.  4
x is less than 10, adding 1 to x
Continuing...
x is currently.  5
x is less than 10, adding 1 to x
Continuing...
x is currently.  6
x is less than 10, adding 1 to x
Continuing...
x is currently.  7
x is less than 10, adding 1 to x
Continuing...
x is currently.  8
x is less than 10, adding 1 to x
Continuing...
x is currently.  9
x is less than 10, adding 1 to x
Continuing...

In [36]:
#Using break statement

x = 0

while x < 10:
    print("x is currently. ", x)
    print("x is less than 10, adding 1 to x")
    x += 1
    if x == 3:
        print("x ==3")
        break
    else:
        print("Continuing...")
        continue

x is currently.  0
x is less than 10, adding 1 to x
Continuing...
x is currently.  1
x is less than 10, adding 1 to x
Continuing...
x is currently.  2
x is less than 10, adding 1 to x
x ==3